.built
*.vala~
*.template~
*.vapi~
*.ui~
*.md~
.gitignore~
*.ui#
*.xml~
Recipe~
Recipe.conf
*.pot
Venom-$(project.major).$(project.minor).$(project.patch).tar.bz2
Venom_$(project.major).$(project.minor).$(project.patch).orig.tar.gz
Venom_$(project.major).$(project.minor).$(project.patch)-0.debian.tar.gz
Venom_$(project.major).$(project.minor).$(project.patch)-0.dsc
Venom_$(project.major).$(project.minor).$(project.patch)-0_source.changes
Venom_$(project.major).$(project.minor).$(project.patch)-0_amd64.deb
Venom-$(project.major).$(project.minor).$(project.patch).tar.gz
Venom-$(project.major).$(project.minor).$(project.patch).tar.xz
venom-$(project.major).$(project.minor).$(project.patch).tar.bz2
venom_$(project.major).$(project.minor).$(project.patch).orig.tar.gz
venom_$(project.major).$(project.minor).$(project.patch)-0.debian.tar.gz
venom_$(project.major).$(project.minor).$(project.patch)-0.dsc
venom_$(project.major).$(project.minor).$(project.patch)-0_source.changes
venom_$(project.major).$(project.minor).$(project.patch)-0_amd64.deb
venom-$(project.major).$(project.minor).$(project.patch).tar.gz
venom-$(project.major).$(project.minor).$(project.patch).tar.xz
